

.cover-box  { position: relative; 
				z-index: 0;}


.coverimage { 	max-width: 1480px; 
				max-height: 896px;
				fill: transparent;
				object-fit: cover;
				z-index: 0;}

.navclass { position: absolute;
			z-index: 4; 
			top: 0;
			left: 0;
			z-index:3;
			padding-bottom: 40px;
			padding-top: 29px;
			padding-left: 800px;
			display: flex;}


.navclass a {color: #ffffff;}

.liclass {  display: inline-block;
			margin-right: 20px;
			border-right: 1px solid white;
			padding-right: 20px;
			size: 12;}

.Ellipse	 { padding-top: 29px;
			padding-left: 20px; }

.covercontent { color: #ffffff;
				padding-left: 180px;
				padding-right: 771px;
				padding-bottom: 63px;
				font-size: 20px;
				position: absolute;
				top: 0;
				left: 0;
				z-index:3;
				padding-top: 800px;}

.articles { padding-top: 77px;
			padding-left: 170px; }

.article1title {padding-bottom: 68px;
				 font-size: 32px;
			 	color: #262626;}

.article1text  { width: 1001px;
				height: 168px;
				font-size: 25px;
				line-height: 44px; }


.article2and3  { width: 1260px; 
				height: 1200px;
				background-color: #ffffff;
				padding-top: 89px;}

.article2     { width: 1002px; }

.article2title  { font-size: 25px;
					color: #262626; 
					margin-top: 61px;
					padding-bottom: 36px;}

.article2text   {font-size: 18px;
				color: #434343;
				line-height: 33px;}

.article3     { width: 1002px;
				padding-top: 60px; }

.article3title   { font-size: 25px;
					color: #262626; 
					padding-bottom: 36px;
					padding-top:  20px; }

.article3text   {font-size:18px;
				color: #434343;
				line-height: 33px;
				padding-bottom: 30px; }

.articleimage  { margin-left: -90px; }

.article4and5  {width: 1001px;}



.article4title  { font-size: 25px;
					color: #262626; 
					margin-top: 61px;
					padding-bottom: 36px;
					padding-top: 50px;}

.article4text   {font-size: 18px;
				color: #434343;
				line-height: 33px;}


.article5title   { font-size: 25px;
					color: #262626; 
					padding-bottom: 36px;
					padding-top: 20px; }

.article5text   {font-size:18px;
				color: #434343;
				line-height: 33px }


